.card {
  width: 400px;
  height: calc((100% - 110px) / 4);
  background-color: rgba(24, 70, 171, .2);
  position: absolute;
  z-index: 50;
  padding: 10px;
  .title {
    font-size: 16px;
    color: #fff;
    padding-left: 10px;
    border-left: 3px solid #47b8e6;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  :deep(.body) {
    color: #fff;
    height: calc(100% - 30px);
    .el-loading-mask {
      background-color: transparent;
      .el-loading-spinner {
        .circular {
          .path {
            stroke: #07b1f8;
          }
        }
      }
    }
  }
}