:deep(.el-table) {
  height: 100%;
  background: rgba(24, 70, 171, .1);
  color: #d7d7d7;
  border: 1px solid rgba(24, 70, 171, .5);
  &::before {
    background: rgba(24, 70, 171, .1);
  }
  &::after {
    background: rgba(24, 70, 171, .5);
  }
  .el-table__header {
    th.el-table__cell {
      background: rgba(24, 70, 171, .1);
      color: #ebeef5;
      &.is-leaf {
        border-bottom: 1px solid rgba(24, 70, 171, .5);
      }
      &.gutter {
        border-bottom: 1px solid rgba(24, 70, 171, .5);
      }
    }
  }
  .el-table__body-wrapper {
    &::-webkit-scrollbar-track-piece {
      background: #031a4f;
    }
    &::-webkit-scrollbar-thumb {
      background: #1d46a3;
    }
    .el-table__body {
      td.el-table__cell {
        background: rgba(24, 70, 171, .1);
        color: #d7d7d7;
        border-bottom: 1px solid rgba(24, 70, 171, .5);
        .cell-operation {
          .primary {
            color: #d7d7d7;
          }
        }
      }
    }
  }

  tr {
    background: rgba(24, 70, 171, .1);
    color: #d7d7d7;
    border-color: rgba(24, 70, 171, .5);
    td {
      background: rgba(24, 70, 171, .1);
      color: #d7d7d7;
      border-color: rgba(24, 70, 171, .5);
    }
  }
  &.el-table--border {
    border-right: none;
    // border-bottom: none;
    .el-table__cell {
      border-right: 1px solid rgba(24, 70, 171, .5);
    }
  }
  &.el-table--fit {
    border-right: none;
    // border-bottom: none;
  }
}